@import "https://www.nerdfonts.com/assets/css/webfont.css";

:root {
  /*Primitives*/
  --beige: #f6f3ee;
  --cream: #dbcfbd;
  --coffee: #ad9285;
  --coffee-dark: #756157;

  --green: #415858;
  --green-dark: #2c3639;

  /* Tokens */
  --primary-color: var(--beige);
  --secondary-color: var(--cream);
  --text-color-primary: var(--coffee-dark);
  --text-color-secondary: var(--coffee);
}

body {
  font-family: Roboto;
  padding: 1rem;
  background-color: var(--secondary-color);

  b {
    font-weight: bold;
  }
}

#shell {
  padding: 1rem;
  border: 0.25rem solid var(--primary-color);
  border-radius: 2rem;
  height: calc(100dvh - 12rem);
  margin: 2rem 0 1rem 0;
}

.navbar {
  a {
    &:link {
      color: var(--text-color-secondary);
    }
    &:visited {
      color: var(--text-color-secondary);
    }
  }

  padding: 0.3rem 0rem;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--text-color-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;

  .main {
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
    font-size: 1.2rem;
    place-content: center;
    color: var(--text-color-primary);
  }

  .button_list {
    display: flex;
    gap: 0.5rem;

    padding: 1rem;
  }

  .button_icon {
    border: 0.2rem solid var(--text-color-secondary);
    padding: 0.4rem;
    border-radius: 1rem;
    font-size: 2rem;
    height: 2rem;
    cursor: pointer;
  }
}

.landing-page {
  align-items: center;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  padding: 5rem;

  .profile-picture {
    border: 0.5rem solid var(--primary-color);
    border-radius: 50%;
    display: inline;
    width: 100%;
    max-width: 360px;

    &:hover {
      box-shadow: 0 10px 1rem var(--primary-color);
      transition: box-shadow 200ms ease-in-out;
    }
  }

  .button {
    border: none;
    border-radius: 1rem;
    cursor: pointer;

    display: flex;
    gap: 0.2rem;
    place-content: center;

    padding: 1rem;
    background-color: var(--primary-color);
    font-size: 1.5rem;
    color: var(--text-color-primary);
    transition: transform 100ms ease-in-out;

    &:hover {
      transform: translateY(-5px);
    }
  }
}

.portfolio {
  --default-border-radius: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  .bio {
    display: flex;
    flex-direction: column;

    background-color: var(--primary-color);
    padding: 1rem;
    color: var(--text-color-primary);

    border-radius: var(--default-border-radius);

    .dinossaur {
      height: 6rem;
      align-self: flex-end;

      /*flippling horizonally*/
      transform: scaleX(-1);
    }

    h1 {
      font-size: 1.5rem;
      padding-bottom: 0.5rem;
    }

    li {
      display: flex;
      gap: 0.5rem;
      padding: 0.3rem 0;
      flex-direction: row;

      h2 {
        padding-bottom: 0.1rem;
      }
    }
  }

  .double {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;

    .skills {
      background-color: var(--primary-color);
      border-radius: var(--default-border-radius);
      padding: 1rem;
      color: var(--text-color-primary);
      font-size: 1rem;

      h3 {
        font-weight: bold;
        padding-bottom: 0.5rem;

        &::before {
          content: "> ";
        }
      }

      hr {
        border: 1px solid var(--text-color-secondary);
      }

      li {
        padding: 0.25rem;

        &::before {
          content: "- ";
        }
      }
    }

    .icons {
      place-content: center;
      gap: 0.25rem;
      display: grid;
      justify-items: center;
      grid-template-columns: 50% 50%;
      font-size: 2.5rem;
      color: var(--text-color-primary);
      border: 0.25rem solid var(--primary-color);
      padding: 1rem;
      border-radius: var(--default-border-radius);
      place-content: center;
    }
  }

  .summary {
    color: var(--text-color-primary);
    display: flex;
    background-color: var(--primary-color);
    border-radius: var(--default-border-radius);
    padding: 1rem;

    .icons {
      font-size: 2.5rem;
      max-width: 40%;
    }

    .text {
      li {
        &::before {
          content: "- ";
        }
      }

      hr {
        border: 2px solid var(--text-color-secondary);
        padding: 0.2rem;
        &::before {
          content: "$ _";
        }
      }
    }
  }
}
