@import "https://www.nerdfonts.com/assets/css/webfont.css";

:root {
  /* Tokens */
  --beige: #f6f3ee;
  --cream: #dbcfbd;
  --coffee: #ad9285;
  --coffee-dark: #756157;

  --green: #415858;
  --green-dark: #2c3639;

  --primary-color: var(--beige);
  --secondary-color: var(--cream);
  --text-color: var(--coffee);
}

body {
  background-color: var(--secondary-color);
}

#shell {
  padding: 4rem;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  padding: 10rem 3rem;

  background-color: var(--secondary-color);
  border: 0.25rem solid var(--primary-color);

  .profile-picture {
    border: 0.5rem solid var(--primary-color);
    border-radius: 50%;
    display: inline;
    width: 25rem;
  }

  .landing-page__tapme {
    padding: 1rem;
    background-color: var(--primary-color);
    font-size: 2rem;
    color: var(--text-color);
  }
}
