@import "https://www.nerdfonts.com/assets/css/webfont.css";

:root {
  /*Primitives*/
  --beige: #f6f3ee;
  --cream: #dbcfbd;
  --coffee: #ad9285;
  --coffee-dark: #756157;

  --green: #415858;
  --green-dark: #2c3639;

  /* Tokens */
  --primary-color: var(--beige);
  --secondary-color: var(--cream);
  --text-color-primary: var(--coffee-dark);
  --text-color-secondary: var(--coffee);
}

body {
  font-family: Roboto;
  padding: 1rem;
  background-color: var(--secondary-color);

  b {
    font-weight: bold;
  }
}

#shell {
  padding: 1rem;
  border: 0.25rem solid var(--primary-color);
  border-radius: 2rem;
  height: calc(100dvh - 12rem);
  margin: 1rem 0;
}

.navbar {
  padding: 0.3rem 0rem;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--text-color-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;

  .main {
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
    font-size: 1.2rem;
    place-content: center;
  }

  .button_list {
    display: flex;
    gap: 0.5rem;

    padding: 1rem;
  }

  .button_icon {
    border: 0.2rem solid var(--text-color-secondary);
    padding: 0.4rem;
    border-radius: 1rem;
    font-size: 2rem;
    height: 2rem;
    cursor: pointer;
  }
}

.landing-page {
  align-items: center;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  padding: 5rem;

  .profile-picture {
    border: 0.5rem solid var(--primary-color);
    border-radius: 50%;
    display: inline;
    width: 100%;
    max-width: 360px;
  }

  .button {
    border: none;
    border-radius: 1rem;
    cursor: pointer;

    display: flex;
    gap: 0.2rem;
    place-content: center;

    padding: 1rem;
    background-color: var(--primary-color);
    font-size: 1.5rem;
    color: var(--text-color-primary);
    transition: transform 100ms ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.bio-wrapper {
  --default-border-radius: 1rem;

  background-color: var(--primary-color);
  padding: 1rem;
  color: var(--text-color-primary);

  border-radius: var(--default-border-radius);

  h1 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }

  li {
    display: flex;
    gap: 1rem;
    padding: 0.25rem 0;
  }
}
